[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask="*"
irflow-integrations = {editable = true,path = "./../irflow-integrations"}

[requires]
python_version = "3.6"
